# ---------------------------------------------
# 📊 DATA PROCESSING & ANALYSIS
# ---------------------------------------------
setuptools==72.1.0

pandas==2.2.3          # Data manipulation and analysis — core for working with tabular data
numpy==2.2.6          # Numerical operations, arrays, and matrix support (used by almost all ML libraries)

# ---------------------------------------------
# 🧠 MACHINE LEARNING
# ---------------------------------------------
scikit-learn==1.6.1    # Classic ML models (regression, classification, clustering), preprocessing, model evaluation
xgboost==3.3.0
# ---------------------------------------------
# 📈 VISUALIZATION
# ---------------------------------------------
matplotlib==3.10.0      # Base library for plotting graphs, charts, and visualizations
seaborn==0.13.2      # High-level interface for drawing attractive and informative statistical graphics (built on matplotlib)

# ---------------------------------------------
# 📦 EXPERIMENT TRACKING & MODEL MANAGEMENT
# ---------------------------------------------
mlflow==3.14.0          # End-to-end ML lifecycle tracking, including experiment tracking, model packaging, and deployment

# ---------------------------------------------
# ✅ TESTING
# ---------------------------------------------
pytest==8.3.4         # Python testing framework — great for writing unit tests for ML pipelines, data validation, etc.

# ---------------------------------------------
# ⚡ API DEVELOPMENT (FOR MODEL SERVING)
# ---------------------------------------------
fastapi==0.136.1        # Lightweight, high-performance web framework for serving ML models via REST APIs
uvicorn==0.46.0        # ASGI server for running FastAPI apps — lightweight and fast
#
# ---------------------------------------------
#  MISC
# ---------------------------------------------
# pyyaml==6.0
joblib==1.4.2
ipykernel==6.29.5


